*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

body{
    font-family: 'Cormorant Garamond', serif;
}


.title{
    font-size: 26px;
    font-weight: lighter;
    position: absolute;
    top: 5%;
    left: 5%;
}


.menu-1{
    font-size: 18px;
    font-weight: lighter;
    position: absolute;
    top: 10%;
    left: 5%
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: #C0C0C0;
}



.section-1{
    background-color: #F7F7F7;
}

img{
    width: 300px;
    border-radius: 150px;
}

h2{
    font-size: 21px;
    font-weight: lighter;
    padding-bottom: 6px;
}

.grid{
    display: flex;
    align-items: center;
    padding: 30px;
    margin-top: 120px;
}

.col-1{
    width: 45%;
    display: flex;
    justify-content: flex-end;
}

.col-2{
    width: 55%;
    margin-left: 60px;
}

.col-2 h1{
    font-size: 35px;
    font-weight: lighter;
    padding-bottom: 6px;
}

.col-2 p{
    font-size: 18px;
    margin: 5px;
}

.col-2 a:link{
    font-size: 18px;
}

.section-2{
    margin-top: 20px;
}

.grid-1{
    display: flex;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.sub-title{
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 2px;
}

.col-3{
    height: 580px;
    width: 35%;
    padding: 10px 30px;
    margin-left: 40px;
    border-left: 1px solid grey;
}

.col-3 div{
    margin-top: 18px;
}

.col-3 p{
    font-size: 17px;
}

.col-3 ul{
    font-size: 19px;
    list-style: inside;
    margin: 5px 0;
}

.col-3 li{
    margin: 5px 0;
    list-style-type:square;
}

.title-2{
    margin-top: 70px;
    font-style: italic;
}

.col-4{
    width: 60%;
    padding: 10px 30px;
    margin-left: 50px;
    border-left: 1px solid grey;
}


.col-4 div{
    margin-top: 18px;
}

.col-4 p{
    font-size: 17px;
}


.button{
    margin-left: 5%;
    border-bottom: 1px solid grey;
}


footer{
    color: black;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 70px;
}




/* mobile */
@media only screen and (min-width: 300px) and (max-width: 450px){

    .title{
        font-size: 22px;
    }

    .menu-1{
        font-size: 17px;
    }

    img{
        width: 150px;
    }


    .col-1{
        display: flex;
        justify-content: flex-end;
    }

    .col-2{
        margin-left: 20px;
    }

    .col-2 h1{
        font-size: 26px;
    }

    .col-2 p{
        font-size: 14px;
    }

    .col-2 a:link{
        font-size: 14px;
    }

    .grid{
        margin-top: 120px;
    }

    .grid-1{
        flex-direction: column;
        justify-content: center;
    }

    .section-2{
        margin-left: 20px;
    }

    .col-3{
        height: 630px;
        margin-bottom: 100px;
    }

    .col-3, .col-4{
        margin-left:10px;
        padding-left: 30px;
        width: 100%;
    }

    .col-4{
        margin-top: 50px;
    }

    footer a{
        font-size: 15px;
    }

    footer .button{
        font-size: 14px;
    }
}

/* mobile */
@media only screen and (min-width: 451px) and (max-width: 600px){

    
    img{
        width: 150px;
    }


    .col-1{
        display: flex;
        justify-content: flex-end;
    }

    .col-2{
        margin-left: 20px;
    }

    .col-2 h1{
        font-size: 26px;
    }

    .col-2 p{
        font-size: 14px;
    }

    .col-2 a:link{
        font-size: 14px;
    }

    .grid{
        margin-top: 120px;
    }

    .grid-1{
        flex-direction: column;
        justify-content: center;
    }

    .section-2{
        margin-left: 20px;
    }

    .col-3{
        height: 650px;
        margin-bottom: 100px;
    }

    .col-3, .col-4{
        margin-left:10px;
        padding-left: 30px;
        width: 100%;
    }

    .col-4{
        margin-top: 50px;
    }

}


/* mobile */
@media only screen and (min-width: 601px) and (max-width: 850px){

    img{
        width: 200px;
    }


    .col-1{
        display: flex;
        justify-content: flex-end;
    }

    .col-2{
        margin-left: 20px;
    }

    .col-2 h1{
        font-size: 35px;
    }

    .col-2 p{
        font-size: 16px;
    }

    .col-2 a:link{
        font-size: 18px;
    }

    .grid{
        margin-top: 120px;
    }

    .grid-1{
        flex-direction: column;
        justify-content: center;
    }

    .section-2{
        margin-left: 20px;
    }

    .col-3{
        height: 600px;
    }

    .col-3, .col-4{
        margin-left:10px;
        padding-left: 30px;
        width: 100%;
    }

    .col-4{
        margin-top: 50px;
    }
}


/* tablet */
@media only screen and (min-width: 851px) and (max-width: 1200px){
    img{
        width: 250px;
    }


    .col-1{
        display: flex;
        justify-content: flex-end;
    }

    .col-2 h1{
        font-size: 35px;
    }

    .col-2 p{
        font-size: 18px;
    }

    .col-2 a:link{
        font-size: 18px;
    }

    .grid{
        margin-top: 120px;
    }

    .col-3{
        height: 600px;
    }

}























