*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

body{
    font-family: 'Cormorant Garamond', serif;
}

html {
    scroll-behavior:smooth;
  }
  

.title{
    font-size: 26px;
    font-weight: lighter;
    position: absolute;
    top: 5%;
    left: 5%;
}

.menu{
    font-size: 16px;
    position: absolute;
    top: 6%;
    right: 5%;

}

.menu-1{
    font-size: 18px;
    font-weight: lighter;
    position: absolute;
    top: 10%;
    left: 5%;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: #C0C0C0;
}

img{
    width: 600px;
    transform: scale(1);
}

.oriz{
    width: 900px;
}

.container{
    padding: 30px;
    padding-left: 60px;
    padding-right: 60px;
}



.ct{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.sx{
    display: flex;
    justify-content: flex-start;
    margin-top: 200px;
}

.dx{
    display: flex;
    justify-content: flex-end;
    margin-top: 200px;
}



.button{
    margin-left: 5%;
    border-bottom: 1px solid grey;
}

 footer{
    color: black;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 70px;
}

/* .in-page{
   transform: scale(1.04);
   transition: all 1s cubic-bezier(.215, .61, .355, 1);
   /* opacity: 5; */
/* } */ 






/* mobile */
@media only screen and (min-width: 300px) and (max-width: 400px){

    .title{
        font-size: 22px;
    }

    .menu-1{
        font-size: 17px;
    }

    img{
    width: 350px;
    }

    .oriz{
        width: 350px;
    }

    .container{
        /* margin: 40px; */
        display: flex;
        flex-direction: column;
    }

    .ct,.dx,.sx{
        display: flex;
        justify-content: center;
        margin-top: 150px;
    }

    footer a{
        font-size: 15px;
    }

    footer .button{
        font-size: 14px;
    }
}


/* mobile */
@media only screen and (min-width: 401px) and (max-width: 600px){

    img{
        width: 400px;
        }
    
        .oriz{
            width: 400px;
        }
    
        .container{
            /* margin: 40px; */
            display: flex;
            flex-direction: column;
        }
    
        .ct,.dx,.sx{
            display: flex;
            justify-content: center;
            margin-top: 150px;
        }

}



/* mobile */
@media only screen and (min-width: 601px) and (max-width: 800px){

    img{
        width: 480px;
        }
    
        .oriz{
            width: 500px;
        }
    
        .container{
            margin: 40px;
            display: flex;
            flex-direction: column;
        }
    
        .ct,.dx,.sx{
            display: flex;
            justify-content: center;
            margin-top: 150px;
        }

}




/* tablet */
@media only screen and (min-width: 801px) and (max-width: 1200px){
    img{
        width: 500px;
    }

    .oriz{
        width: 550px;
    }


    .container{
        flex: none;
    }

    .ct{
        display: flex;
        justify-content: center;
        margin-top: 200px;
    }

    .sx{
        display: flex;
        justify-content: flex-start;
        margin-top: 200px;
    }

    .dx{
        display: flex;
        justify-content: flex-end;
        margin-top: 200px;
    }
}